{% extends "base.html" %} {% block title %}Bubercode - Admin{% endblock %} {%
block content %}
<h1>Welcome to the admin login page!</h1>
<form action="/code/" method="POST">
	<div class="mb-3">
		<label for="name" class="form-label">Username</label>
		<input
			type="text"
			class="form-control"
			id="name"
			name="name"
			placeholder="Username"
		/>
		<label for="password" class="form-label">Password</label>
		<input
			type="password"
			class="form-control"
			id="pas"
			name="pas"
			placeholder="Password "
		/>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
