{% extends "base.html" %} {% block title %}Bubercode - Scratch{% endblock %} {%
block head %}
<style>
	* {
		font-family: "Comfortaa", cursive;
	}
	body {
		margin: 0;
		background: linear-gradient(
			0deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 35%,
			rgba(0, 212, 255, 1) 100%
		);
	}
	.small {
		vertical-align: top;
		display: inline;
		display: inline-block;
		text-align: center;
		width: 20%;
		background-color: hsl(182, 87%, 56%);
		padding: 10px;
		border-radius: 5px;
	}
	.medium {
		vertical-align: top;
		display: inline;
		display: inline-block;
		text-align: center;
		width: 25%;
		background-color: #0979b9;
		padding: 10px;
		border-radius: 5px;
	}
	.large {
		vertical-align: top;
		display: inline;
		display: inline-block;
		text-align: center;
		width: 30%;
		background-color: #0979b9;
		padding: 10px;
		border-radius: 5px;
	}
	.small #imgcrop img {
		width: 100%;
		display: inline-block;
	}

	.small #imgcrop {
		width: 100%;
		height: 200%;
		overflow: hidden;
	}
	.large #imgcrop img {
		width: 100%;
		display: inline-block;
	}

	.large #imgcrop {
		width: 100%;
		height: 200%;
		overflow: hidden;
	}
</style>
{% endblock %} {% block content %}
<center>
	<h1>Scratch</h1>
	<br />
	<br />
	<div id="img1" class="large">
		<div id="imgcrop">
			<img
				src="https://raw.githubusercontent.com/winnerdinner701/bubercode/main/image_2023-09-05_130822192.png"
			/>
		</div>
	</div>
	<br />
	<br />
	<div id="img1" class="medium">
		<h4>
			Scratch was the time I found out about programming and was first
			introduced to me during the COVID-19 Pandemic. I first started by watching
			some videos from time to time but then I decided to watch weekly live
			videos every saturday which I could also give some input on the programs
			we made in Scratch.
		</h4>
	</div>
	<br />
	<br />
	<div id="img1" class="small">
		<h2>Scratch Games</h2>
		<h5>
			Below is a link to my scratch games where you can see some of the games
			I've made in Scratch and also some games I've remixed.
		</h5>
		<h6>
			<a href="https://scratch.mit.edu/users/chessgenius701/">Link to games</a>
		</h6>
	</div>
</center>
{% endblock %}
