<settings>
  <ListenPort>4782</ListenPort>
  <IPv6Support>False</IPv6Support>
  <AutoListen>True</AutoListen>
  <ShowPopup>False</ShowPopup>
  <UseUPnP>False</UseUPnP>
  <ShowToolTip>False</ShowToolTip>
  <EnableNoIPUpdater>False</EnableNoIPUpdater>
  <NoIPHost>
  </NoIPHost>
  <NoIPUsername>
  </NoIPUsername>
  <NoIPPassword>
  </NoIPPassword>
  <SaveFormat>APP - URL - USER:PASS</SaveFormat>
  <ReverseProxyPort>3128</ReverseProxyPort>
</settings>